.timeline::after{
    content: "";
    position: absolute;
    width:6px;
    height: 100%;
    background-color: #e9ecef;
    top: 0;
    left:50%;
    z-index:-1;
    animation : moveline 6s linear forwards ;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.catds-M:hover{
    content: "";
    background-color: transparent;
    cursor: pointer;
    animation: load 1.5s linear forwards;
}

@keyframes load {
    0%{
        height: 0;
        background-color:  #008fff;
    }
    100%{
        height: 100%;
        background-color: darkblue;
    }
}


.timeline-item{
    color:black;
    border-radius: 20px;
   animation: movedown 1s linear forwards;
   opacity: 0; 
}

@keyframes movedown {
    0%{
        transform: translateY(-30px);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.timeline-item:nth-child(1) {
    animation-delay: 0.3s;
}
.timeline-item:nth-child(2) {
    animation-delay: 2.3s;
}
.timeline-item:nth-child(3) {
    animation-delay: 4.3s;
}

.leftSide img{
    border-radius:100%;
    position: absolute;
    right: -22px;
    top:32px;
    z-index:10;
    width: 40px;
}
.rSide img{
    border-radius:100%;
    position: absolute;
    left: -22px;
    top:32px;
    z-index:10;
    width: 40px;
}

@media screen and (max-width:600px){
    .timeline{
        margin-top: 50px auto;
       
    }
    .timeline::after{
        left: 31px;
    }
    .timeline-item{
        width: 120%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .timeline-content{
        font-size: 14px;
        width: 100%;
    }
    .timeline-content small{
        margin-botton : 10px;
    }
    .rSide{
        left: 0;
    }
    .leftSide img {
        left:14px;
        border-radius:100%;
    }

    .rSide img{
        left:8px
        border-radius:100%;
    }
}


input{
    margin-left: 10px;
    padding: 10px;
    height: 40px;
    background:#000;
    border: none;
    border-radius: 15px;
}
textarea{
    margin-left: 10px;
    padding: 10px;
    height: 40px;
    background:#000;
    border: none;
    resize: none;
    border-radius: 15px;
    overflow: hidden;
}